@charset "utf-8";

/* 全局样式 */
*{ outline:medium; box-sizing:border-box;margin:0px auto;}
html,body{height:100%;background: #20212a ;}
body{font-family:"Microsoft Yahei","Verdana, Geneva, sans-serif"; margin:0; padding:0; color:#333; width:100%;font-size: 14px;}
div,form{margin:0 auto; padding:0;}
ul,ol,ol li,ul li,li,dl,dt,dd,form,img,p,form{margin:0; padding:0; border:none; list-style-type:none; vertical-align:top;}
input,select,textarea { margin:0; padding: 0; outline:0; color:#333;}
ul,ol,ol li,ul li,li{ list-style: none;}
input{ border-radius:0;}
input[type="button"] { border: 0; cursor: pointer; text-align: center;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
textarea { -webkit-appearance: none;}
em,i,u,ins,strong{ font-style:normal; text-decoration:none;}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;vertical-align:baseline; word-wrap:break-word; word-break:break-all;}
h1,h2,h3,h4,h5,h6 { font-style: normal; font-weight: normal; font-variant: normal; }
a { color: #333; text-decoration: none; cursor:pointer;transition:all 0.2s linear 0s;}
a:visited { text-decoration: none; }
a:hover { color: #0CBD70; text-decoration: none;}
a:active { color:#666;}

/*移动端调用软键盘搜索键的input样式*/
input[type="search"]{-webkit-appearance:none;appearance:none;}
input::-webkit-search-cancel-button {display: none;}


.fl{ float:left;}
.fr{ float:right;}
.pr{ position:relative;}
.pa{ position:absolute;}
.pf{ position:fixed;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f30{ font-size:30px;}
.c-green{color:#0CBD70;}
.w100{ width:100%; float: left;}
.w100-b{ width:100%; float: left; background: #fff;}
.w1160{ width:1160px; min-width: 1160px; margin:0 auto;}
.w1200{ width:1200px; min-width: 1200px; margin:0 auto;}
.w280 { width:280px;}
.w860 { width:860px;}
.w900 { width:900px;}
.w600 { width:600px; margin:0 auto;}
.margin { margin:0 auto;}
.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mt5{ margin-top: 5px; }
.mt10{ margin-top: 10px; }
.mt15{ margin-top: 15px; }
.mt20{ margin-top: 20px; }
.mt30{ margin-top: 30px; }
.mt40{ margin-top: 40px; }
.mb5{margin-bottom: 5px;}
.mb10{ margin-bottom: 10px; }
.mb15{ margin-bottom: 15px; }
.mb20{ margin-bottom: 20px; }
.mb30{ margin-bottom: 30px; }
.pt10{ padding-top: 10px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.pb10{ padding-bottom: 10px;}
.pb15{ padding-bottom: 15px;}
.pb20{ padding-bottom: 20px;}
.pl10{ padding-left: 10px;}
.pr10{ padding-right: 10px;}
.pa10{ padding:10px;}
.pa20{ padding:20px;}
.bg_eee{background: #eee;}
.bg_f2f2f2{background: #f2f2f2;}
.bg_white{background: #fff;}
.clear{ clear:both; height:0;}
.cursor{ cursor:pointer;}
.over { overflow:hidden;}
.border { border:1px solid #e2e2e2;}
.hiddendiv { display: none;}
.ellipsis{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.red{color: #f0042f!important;}
.green{color: #29a729!important;}
.bg_red{background: #99271f!important;}
.bg_green{background: #226925!important;}

/*移动端最大宽度*/
.content_w { margin: 0 auto; width:100%; max-width: 640px;}
.no_border_bottom{border-bottom: none!important;}

/*placeholder*/
:-moz-placeholder { color: #bbb;}
::-moz-placeholder { color: #bbb;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color: #bbb;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: #bbb;}

.h5{height: 5px;width: 100%;background: #111111;}
.num{font-family: arial;}


.main{margin-top: 45px;}

#cover{width: 100%;height: 100%;background: #000;opacity: 0.6;z-index: 19;left: 0;top: 0;position: fixed;display: none;}
.paddingBottom65{height: 0.6rem;width: 100%;}


/*头部*/
.head{height: 0.45rem;line-height: 0.45rem;position: fixed;text-align: center;width: 100%;left: 0;top: 0;background: #20212a;padding: 0 0.05rem;z-index: 15;border-bottom: 1px solid #111111;}
.head span{font-size: 0.16rem;color: #ffffff;}
.head i.icon-arrow-left{position: absolute;top:0;left: 0.05rem;color: #ffffff;}
.head a.right{font-size: 0.14rem;color: #ffffff;position: absolute;top: 0;right: 0.1rem;}
.head a.back{font-size: 0.14rem;color: #ffffff;position: absolute;top: 0;left: 0;}
.head a.back i{padding: 0 0.1rem;}


/*底部*/
.foot{height: 0.6rem;background: #161720;width: 100%;position: fixed;bottom: 0;left: 0;z-index: 20;}
.foot li{width: 25%;text-align: center;float: left;}
.foot li a{display: block;padding: 0.05rem 0 0.1rem 0;color: #bac4d9;}
.foot li a img{width: 0.24rem;margin: 0.03rem 0;}
.foot li p{font-size: 0.14rem;line-height: 0.15rem;}
.foot li.active a{color: #3b87f1;}

/*加载loading*/
.loading{text-align: center;color: #ccc; height: .5rem;line-height: .5rem}
.loading img{width: 16px;margin-right: 5px}
