@charset "UTF-8";.card_admin,.cont-box,.drawing_box,.drawing_explain{overflow:hidden;zoom:1}
.cl,.cont-box{clear:both}
.color-orange{color:#FF7F00}
.color-red{color:#FF2626}
.color-blue{color:#566B96}
.color-black3{color:#333}
.color-black6{color:#666}
.color-green{color:#00B259}
.color-gray9{color:#999}
.font-size-12{font-size:12px}
.font-size-14{font-size:14px}
.font-size-16{font-size:16px}
.font-size-18{font-size:18px}
.font-size-20{font-size:20px}
.font-size-24{font-size:24px}
.font-size-28{font-size:28px}
.font-size-32{font-size:32px}
.font-bold{font-weight:700}
.font-normal{font-weight:400}
.fl{float:left}
.fr{float:right}
.hide{visibility:hidden}
.none{display:none}
.show{display:block}
.btn_darkred,.no-scroll .nav-wrap a{display:inline-block;cursor:pointer}
a.blue{color:#566B96;font-size:14px}
html{font-family:"Microsoft YaHei"!important}
.tab_public{font-size:0;border-bottom:1px solid #DDD;clear:both}
.tab_public li{float:left;font-size:16px;padding-bottom:15px;width:175px;color:#333;font-weight:700;cursor:pointer;text-align:center}
.tab_public li.selected{border-bottom:4px solid #66799F;color:#66799F}
.tab_public li.order-orange{float:right;padding-right:10px;text-align:right}
.tab_public li.order-orange a{color:#FF7F00;font-weight:700;text-decoration:none;font-size:14px}
.btn_darkred{width:331px;height:60px;line-height:60px;text-align:center;color:#FFF;font-size:28px;background:#FF2626}
.common-head,.footer-wrap{background-color:#393E4B;text-align:center}
.btn_darkred:hover{color:#FFF}
.no-scroll{font-size:0;margin:0 auto;width:1180px}
.no-scroll .nav-wrap{float:right;height:100px;line-height:100px}
.no-scroll .nav-wrap a{font-size:16px;color:#CCC;margin-left:20px}
.no-scroll .logo{float:left;margin:20px 0}
.no-scroll .logon-logo{margin-right:1600px}
.no-scroll .user-photo{float:right;width:60px;height:60px;border-radius:50%;margin-top:20px}
.no-scroll .user-photo img{width:60px;height:60px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 30px rgba(0,0,0,.4)}
.common-head.ng-hide{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.dropdown:hover ul{display:block;-webkit-animation:anime .5s;-moz-animation:anime .5s;-o-animation:anime .5s;animation:anime .5s}
@-moz-keyframes anime{from{opacity:0;-moz-transform:scaleY(0);transform:scaleY(0)}
    to{opacity:1;-moz-transform:scaleY(1);transform:scaleY(1)}
}
@-webkit-keyframes anime{from{opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)}
    to{opacity:1;-webkit-transform:scaleY(1);transform:scaleY(1)}
}
@keyframes anime{from{opacity:0;-webkit-transform:scaleY(0);-moz-transform:scaleY(0);transform:scaleY(0)}
    to{opacity:1;-webkit-transform:scaleY(1);-moz-transform:scaleY(1);transform:scaleY(1)}
}
.common-head{z-index:100;top:0;position:fixed;width:100%}
.common-head .head-nav-wrap{width:1180px;margin:0 auto;font-size:0}
.common-head .head-nav-wrap .logo{float:left;margin:10px 0}
.common-head .head-nav-wrap .nav-wrap{float:right}
.common-head .head-nav-wrap .user-photo{position:relative;width:50px;height:80px;float:left;margin-left:20px}
.common-head .head-nav-wrap .user-photo img{width:50px;height:50px;float:left;margin-top:15px;border-radius:50%;border:2px solid #fff;box-shadow:0 0 30px rgba(0,0,0,.4)}
.common-head .head-nav-wrap .nav{font-size:16px;color:#CCC;margin-right:20px;display:inline-block;float:left;height:80px;line-height:80px;border-bottom:2px solid #393E4B}
.common-head .head-nav-wrap .active,.common-head .head-nav-wrap .nav:hover{border-bottom:2px solid #fff;color:#fff}
.footer-wrap{height:220px;width:100%;font-size:0;color:#fff}
.footer-content{width:1180px;text-align:left;margin:0 auto;position:relative;padding:40px 0}
.addbank-wrap,.drawing_explain ul li,.drawings_left,.mypage,.recharge_btn{text-align:center}
.footer-content .inner-nav{width:670px;border-bottom:1px solid #4A4E5A;padding-bottom:35px;margin-bottom:20px}
.footer-content .inner-nav a{font-size:14px;margin-right:20px;color:#fff}
.footer-content .inner-nav a:hover{cursor:pointer;text-decoration:underline;color:inherit}
.footer-content .inner-nav a:focus{cursor:pointer;color:inherit}
.footer-content h3.footer-tips{margin-bottom:10px}
.footer-content .footer-tips{font-size:12px;color:#C4C5C9;margin-bottom:5px}
.footer-content .footer-webcat{position:absolute;top:40px;left:730px;border-right:1px solid #4A4E5A;padding-right:60px}
.footer-content .footer-webcat p{font-size:12px;color:#C4C5C9;margin-top:15px;text-align:center}
.footer-content .footer-help{position:absolute;top:40px;left:930px}
.footer-content .footer-help img{display:inline-block;margin-bottom:30px}
.footer-content .footer-help p.kf-phone{font-size:14px;margin-bottom:20px;color:#fff}
.footer-content .footer-help p{font-size:12px;color:#C4C5C9}
.footer-content .footer-help .footer-nav{color:#ccc}
.footer-content .footer-help .footer-nav:hover{cursor:pointer;color:inherit}
.bindingtel-modal .modal-dialog{margin-left:-240px;margin-top:-177px}
form[name] .error{border:1px solid red}
form[name] .error-msg{color:red;position:absolute;margin-top:-20px}
form[name] .btn_darkred{border:none}
form[name] .btn_darkred[disabled=disabled]{background-color:#ccc}
form[name=bindBankForm] input[data-hid]{display:none}
.recharge_title{height:75px;line-height:75px;font-size:16px;padding:0 30px;font-weight:700;background:url(../imgs/trade_bot_line.jpg) bottom no-repeat #FAF3EA;margin-bottom:50px}
.recharge_input,.recharge_text{border:1px solid #DDD;padding-left:15px}
.recharge_title .user_name{width:350px;display:inline-block}
.drawings_card_list:hover .gray_delete,.drawings_left span{display:block}
.drawing_box{background:url(../imgs/left_bg.jpg) repeat-y;margin-top:40px}
.drawings_left{float:left;width:175px;height:828px;font-size:14px;color:#666;font-weight:700;margin-top:0}
.drawings_left span.draw_no1{padding-top:167px;padding-bottom:40px}
.drawings_left span.draw_no2{padding-top:48px;padding-bottom:20px}
.drawings_left span.draw_no3{padding-top:75px;padding-bottom:5px}
.drawings_right{padding-top:0;margin-top:0}
.recharge_input{width:300px;height:56px;line-height:56px}
.recharge_text{width:283px;height:52px;line-height:52px}
.recharge_btn{border-top:1px solid #DDD;padding-top:55px;margin-top:55px}
.recharge_btn a,.recharge_btn button{margin:0 auto}
.weixin-botton{margin-top:190px}
.recharge_tips{margin-top:115px;font-size:14px;border-top:1px dashed #DDD;padding-top:20px;color:#999;line-height:22px}
.recharge_tips h1{font-weight:700}
.drawing_explain{background:#F3F3F3;border-top:1px solid #DDD;margin-top:20px;margin-bottom:5px;height:128px}
.drawing_explain ul{float:left;width:315px}
.drawing_explain ul li{line-height:22px}
.drawing_explain ul li h1{margin-top:12px;font-size:14px;padding-bottom:10px;color:#666}
.drawing_explain label{width:1px;height:60px;border-right:1px solid #DDD;float:left;margin-top:30px}
.drawings_record{margin-top:30px;min-height:320px}
.card_admin{background:url(../imgs/left_bg.jpg) repeat-y;margin-top:40px}
.cont-box{padding-bottom:10px}
.addbank-wrap{height:78px;line-height:76px;padding-bottom:0;margin-bottom:40px;overflow:initial;zoom:0}
.bank_info,.bank_note,.recharge_bank{overflow:hidden;zoom:1}
.addbank-wrap .cont-right{border:1px solid #FF8C19;background-color:#FFE599;font-size:16px;color:#FF8C19}
.cont-left{float:left;width:135px;font-size:14px;color:#666;font-weight:700;text-align:right;padding-right:40px;padding-top:25px}
.cont-right{float:right;width:975px;color:#999;font-size:12px}
.drawings_card_list{width:298px;height:80px;border:1px solid #DDD;float:left;margin-right:30px;margin-bottom:10px;position:relative}
.drawings_card_list:nth-child(3){margin-right:0}
.drawings_card_list img{float:left;margin-left:20px;margin-top:2px}
.drawings_card_list span{font-size:14px;position:absolute;bottom:15px;left:88px}
.gray_delete{position:absolute;background:rgba(0,0,0,.5);width:298px;height:80px;font-size:16px;color:#fff;text-align:center;line-height:80px;cursor:pointer;display:none;font-weight:700}
.none-card{background:url(../imgs/mytrade_nodata.png) center top no-repeat;background-size:440px;height:300px;padding-left:485px;padding-top:130px;line-height:22px;color:#333;font-weight:700;font-size:14px}
.none-card a{color:#FF7F00;cursor:pointer}
.none-card a:hover{color:#FF7F00;text-decoration:underline}
.open-name{padding-top:0}
.open-bank{margin-top:20px}
.add-box{border-top:1px solid #DDD;padding-top:60px;margin-top:50px}
.add-box button{margin:0 auto;display:block}
.recharge_info{line-height:18px;margin-top:5px;padding-bottom:10px}
.recharge_info i{color:#FF7F00;font-size:14px}
.recharge_left{float:left;width:175px;height:640px;background:#F3F3F3;font-size:14px;color:#666;font-weight:700;text-align:center}
.recharge_left span{display:block;margin-top:20px;padding-bottom:70px}
.drawings_right,.drawings_right_admin,.recharge_right{float:right;width:975px;font-size:12px;color:#999}
.recharge_bank{border:1px solid #DDD;width:300px;height:56px;line-height:56px;font-size:14px;padding-left:20px;padding-right:10px}
.recharge_bank i{font-size:24px;cursor:pointer}
.r_bank_list{position:absolute;background:#FFF;border:2px solid #999;z-index:10;margin-left:-21px;margin-top:54px;width:985px;padding:30px 0 15px 30px;font-size:0}
.r_bank_list div{float:left;border:1px solid #DDD;cursor:pointer;position:relative;height:80px}
.r_bank_list div img{float:left}
.r_bank_list div span{position:absolute;font-size:14px;right:0;bottom:0;height:20px;line-height:20px;width:100%;text-align:center}
.r_bank_list div a{font-size:20px;display:inline-block;border:1px solid #ccc;padding:0 20px;color:green}
.r_bank_list div:hover{border-color:red}
.r_bank_list .selected-bank{box-shadow:0 0 10px}
.r_bank_list.a{color:red}
.pay-form{display:none}
.recharge_money{font-size:14px;color:#333;line-height:60px}
select{background-color:#fff}
.recharge_box,.weixin_box{display:block;background:url(../imgs/left_bg.jpg) repeat-y;margin-top:40px}
.transfer_box{font-size:14px;margin-top:30px;display:block}
.bank_info{border:1px solid #DDD;padding:40px}
.bank_company_name{font-weight:700;color:#333;font-size:16px;padding-left:158px}
.bank_tips{color:#666;border-bottom:1px solid #DDD;display:block;padding-bottom:20px;margin-bottom:40px}
.bank_tips h1{padding-bottom:10px}
.bank_tips i{color:#FF7F00;font-size:14px}
.bank_open{float:left;width:414px;border-right:1px dashed #DDD;height:90px;text-align:center}
.bank_open img{border:1px solid #DDD;margin-top:15px}
.bank_account{float:left;padding-left:110px;padding-top:10px;color:#333;font-weight:700}
.bank_account li{margin-bottom:18px}
.bank_account li span{display:inline-block;text-align:right;width:70px;font-weight:400;color:#666}
.bank_btn{margin-top:60px;margin-bottom:120px;text-align:center}
.bank_btn a{margin:0 auto}
.bank_note{border-top:1px dashed #DDD;padding-top:30px}
.bank_note img{padding:30px;border:1px solid #DDD;float:left}
.draw_r_no1,.drawings_word{font-size:14px;padding-bottom:20px}
.bank_note span{float:left;padding-left:40px;color:#999;line-height:35px}
.drawings_word{color:#999;line-height:35px;border-bottom:1px dashed #DDD;margin-bottom:30px}
.draw_r_no1{color:#333;margin-top:62px;margin-bottom:20px}
.draw_r_no1 span{font-size:18px;font-weight:700;color:#FF7F00}
.draw_r_no2,.draw_r_no3,.draw_r_no4{font-size:14px;color:#333;margin-bottom:20px}
.draw_r_no2 a,.draw_r_no3 a,.draw_r_no4 a{display:inline-block;padding-left:50px}
.draw_r_no3{margin-bottom:40px;margin-top:30px}
.draw_r_no4{margin-bottom:60px}
.history_l_table{border-collapse:collapse;color:#333;font-size:14px}
.history_l_table th{text-align:center;color:#999;background:#F2F2F2;height:42px;line-height:42px;border-bottom:1px solid #DDD}
.history_l_table td{text-align:center;line-height:75px;border-bottom:1px solid #F2F2F2}
.history_l_table tr:hover td{background:#EEF0F4}
.history_l_table tr:hover td i{visibility:visible}
.drawings_left_admin{float:left;width:175px;height:790px;font-size:14px;color:#666;font-weight:700;text-align:center;margin-top:0}
.drawings_left_admin span{display:block}
.drawings_left_admin span.draw_no1{padding-top:152px;padding-bottom:40px}
.drawings_left_admin span.draw_no2{padding-top:38px;padding-bottom:40px}
.drawings_left_admin span.draw_no3{padding-top:55px;padding-bottom:45px}
.drawings_right_admin{padding-top:0;margin-top:0}
.drawings_addcard,.drawings_addcard-select{border-top:1px solid #DDD;margin-top:10px;padding-top:30px}
.drawings_addcard{padding-bottom:40px}
.drawings_addcard a{width:126px;height:42px;line-height:42px}
.drawings_addcard-select{margin-bottom:40px;background:url(../imgs/dot_gray_d.jpg) bottom repeat-x}
.add_rno,.add_rno1{margin-bottom:20px}
.drawings_addcard-select a,.drawings_addcard-select a:hover{height:42px;width:126px;border:1px solid #DDD;border-bottom:1px solid #FFF;display:block;text-align:center;line-height:42px;font-weight:700;cursor:default;font-size:14px;color:#999}
.inner-page-content-wrap div:empty{clear:both}
.draw-info{padding-top:10px;font-size:12px;color:#999}
.add_rno,.add_rno1,.add_rno2{font-size:14px;color:#333}
.add_rno1{margin-top:25px}
.add_rno2{margin-bottom:30px}

.qie{float:left;width:100%}
.cz_h2{float:left;width:780px;padding-left:20px;height:70px;line-height:70px;color:#333;font-size:16px}
.cz_h2 i{color:#FF3F13;font-size:16px}
.cz_one{float:left;width:780px;padding-left:20px;color:#999;font-size:14px}
.cz_one img{margin-right:15px}
.cz_two{float:left;margin-left:20px;width:738px;border:1px solid #EEE;border-left:0;border-bottom:0;margin-bottom:20px}
.cz_two td,.cz_two th{border-left:1px solid #EEE;border-bottom:1px solid #EEE}
.cz_two th{width:105px;padding:15px 0;padding-right:35px;text-align:right;color:#333;font-size:14px;line-height:20px;vertical-align:top;font-weight:400}
.cz_two td{padding:12px 0;padding-left:25px;line-height:25px;color:#333;font-size:14px}
.cz_two td strong{color:#FF3F13;font-size:16px;font-weight:700}
.cz_two td.red {color:#FF3F13;}
.cz_two .txt{width:100px;height:30px;line-height:30px;line-height:30px;border:1px solid #999;border-radius:4px;margin-right:10px;padding-left:5px}
.cz_two td i{color:#FF3F13;font-size:12px}
.cz_two td select{border:1px solid #999;border-radius:4px;padding:5px;font-size:14px;border:1px solid #999}
.cz_two td label{cursor:pointer;font-size:14px;color:#666;float:left;margin-right:15px}
.cz_two td label input{width:15px;height:20px;margin-right:5px}
.cz_three{float:left;width:738px;margin-left:20px;background:#F9F9F9;padding:20px;border:1px solid #EEE}
.cz_three .top{float:left;width:100%;padding-bottom:10px;color:#333;font-size:16px;font-weight:700}
.cz_three .bottom{float:left;width:710px;padding-left:20px;color:#333;font-size:14px;line-height:32px}
.cz_three .bottom strong{font-weight:700}
.cz_four{float:left;margin-left:20px;width:778px;border:1px solid #EEE}
.cz_four td{line-height:50px;padding-left:20px;border-bottom:1px dotted #CECBBC;height:50px;font-size:14px;color:#333;font-weight:700;border-left:1px dotted #CECBBC}
.cz_four .td{border-left:0}
.cz_four th{text-align:center;padding:20px 0;color:#333;font-size:14px;line-height:35px;font-weight:400;vertical-align:top}

.a_blue {
    width: 140px;
    height: 40px;
    cursor: pointer;
    background: #3984E1;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;display: inline-block;
}